* { margin: 0; padding: 0; box-sizing: border-box; }
p{
    margin-bottom: 0px;
}
#cartMoreShowBtn{
display : flex; 
width : 10.417vw; 
height : 6.25vw;
margin: 2.083vw auto auto auto; 
justify-content : center;
}
#cartMoreShowBtnjbh{
display : flex; 
width : 10.417vw; 
height : 6.25vw;
margin: 2.083vw auto auto auto; 
justify-content : center;
}
#cartMoreShowBtnjjw{
display : flex; 
width : 10.417vw; 
height : 6.25vw;
margin: 2.083vw auto auto auto; 
justify-content : center;
}
#cartMoreShowBtnajy{
display : flex; 
width : 10.417vw; 
height : 6.25vw;
margin: 2.083vw auto auto auto; 
justify-content : center;
}
.cart-modal {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
background-color: rgba(0, 0, 0, 0.4);
}
.cart-modal-body {
overflow: scroll;
position: absolute;
top: 50%;
left: 50%;
width: 90%;
height: 93%;
padding: 2.083vw;
text-align: center;
background-color: rgb(255, 255, 255);
border-radius: 0.521vw;
box-shadow: 0 0.104vw 0.156vw 0 rgba(34, 36, 38, 0.15);
transform: translateX(-50%) translateY(-50%);
}
.cart-title{
vertical-align : bottom;
text-align:center;
background-color: rgba(42, 46, 49, 0.15);;
box-shadow: 0 0.104vw 0.156vw 0 rgba(34, 36, 38, 0.15);
height: 2.604vw;
}
.cart-btn-group{
margin-top: 1.042vw;
}
.cart-list{
min-width: 51.667vw;
margin-right: auto;
margin-left: auto;
}
.cart-listRow {
display: flex;
flex-wrap: wrap;
padding-top: 5%;
}
.cart-listCol{
width: 22%;
margin-left: 3%;
margin-top: 3%;
}
.cart-container {
display: flex;
flex-direction: column;
word-wrap: break-word;
background-color: #fff;
border: 0.052vw solid rgba(0,0,0,.125);
border-radius: 0.50rem;
}  
.cart-body {
padding: 2rem;
text-align: center;
}
.cart-text{
border: 0.052vw solid black;
padding: 0.521vw;
border-radius: 0.50rem;
}
.cart-img{
border: 0.052vw solid black;
border-radius: 0.50rem;
}
.cart-name{
border: 0.052vw solid black;
border-radius: 0.50rem;
margin-bottom: 1.823vw;
}
.cart-btn-container{
padding-top:1.042vw
}
@media (min-width:51.667vw) {
    .cart-list {
        max-width: 50vw;
    }
}
@media (min-width:62.5vw) {
    .cart-list {
        max-width: 59.375vw;
    }
}
@media (min-width:72.917vw) {
    .cart-list{
        max-width: 68.75vw;
    }
}
.cart-div-text {
background: gray;
opacity: 0;
}
.cart-div-text p {
padding-top: 92.5%;
}
.cart-pic{
background-size: cover;
width: 100%;
height: 100%;
border: 0.052vw solid black;
border-radius: 0.50rem;
}
.cart-pic:hover .cart-div-text {
opacity: 0.6;
text-align: center;
color: #ffffff;
}
.cart-btn-cart-list{
position: fixed;
transform: translateX(1800%) translateY(30%);
width: 5.208vw;
height: 2.604vw;
}
.cart-list-p-text{
font-size: 2vw;
display: inline;
}
.cart-search-item{
width: 4.5vw;
height: 1.563vw;
margin-left: 0.26vw;
}
.cart-search-Alignment{
margin-top: 23px;
}
.cart-input-search-item{
position: relative;
width: 20vw;
height: 1.563vw;
margin-left: 1.3vw;
margin-right: 1.042vw;
}
.cart-search-text-body{
position: absolute;
top: 50%;
left: 50.5%;
transform: translate(31.5%, 10%);
}
.cart-search-child{
border: 0.052vw solid black;
width: 20vw;
height: 1.563vw;
}